{% load static %}
<!DOCTYPE html>
<html lang="ptbr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block title %}Conecta Esporte{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'ConectaEsporte/css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'ConectaEsporte/css/visual.css' %}">

    {% block extra_head %}{% endblock %}
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <a class="navbar-brand" href="{% url 'home' %}">
      <img src="{% static 'ConectaEsporte/img/Logo_Proj.png' %}" alt="" style="width: 8em;height: 2.75em;">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

    <div class="navbar-nav">
      <a class="nav-item nav-link" href="{% url 'home' %}">Página principal</a>
      <a class="nav-item nav-link" href="#">Feed</a>
      <a class="nav-item nav-link" href="{% url 'secundarios:mapa' %}">Mapa</a>
    </div>

    <div class="login">
      <a href="{% url 'secundarios:login' %}" class="btn btn-primary btn-lg">Entrar</a>
      <a href="{% url 'secundarios:criaConta' %}" class="btn btn-secondary btn-lg">Cadastre-se</a>
    </div>

  </div>
</nav>

<main>
{% block content %}{% endblock %}
</main>

<footer>
  <a href="{% url 'secundarios:home_conta' %}">página logado</a>
  redes sociais · doações
</footer>

{% block extra_js %}{% endblock %}
{% block extra_scripts %}{% endblock %}
</body>
</html>