{% load static %}
<!DOCTYPE html>
<html lang="ptbr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block title %}Conecta Esporte{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'ConectaEsporte/css/nav.css' %}">
    
    {% block extra_head %}{% endblock %}
</head>
<body>

<nav class="navbar">

  <a class="navbar-brand" href="{% url 'home' %}">
      <img src="{% static 'ConectaEsporte/img/Logo_Proj.png' %}" alt="" style="width: 8em;height: 2.75em;">
  </a>

    <div class="navbar-nav">
      <a class="nav-item nav-link" href="{% url 'home' %}">Página principal</a>
      <a class="nav-item nav-link" href="{% url 'secundarios:feed' %}">Feed</a>
      <a class="nav-item nav-link" href="{% url 'secundarios:mapa' %}">Mapa</a>
    </div>

    <div class="login">
      <a href="{% url 'secundarios:home_conta' %}">Entrar</a>
      <a href="{% url 'secundarios:criaConta' %}" class="btn btn-secondary btn-lg">Cadastre-se</a>
    </div>

  </div>
</nav>

<main>
{% block content %}{% endblock %}
</main>



{% block extra_js %}{% endblock %}
{% block extra_scripts %}{% endblock %}


</body>


</html>