{% load static %}
<!DOCTYPE html>
<html lang="ptbr>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chats</title>
    <link rel="stylesheet" href="{% static 'secundarios/css/chats.css' %}">
    <link rel="stylesheet" href="{% static 'secundarios/css/nav.css' %}">
    <!--
    <link rel="stylesheet" href="{% static 'secundarios/css/visual.css' %}">
    -->

</head>
<body>


<!-- navegação-->
{% include 'secundarios/nav_log.html' %}

    <div class="header">
        <h3>Minhas Conversas</h3>
    </div>
<div class="corpo">
    <div class="conversas">
        <a href="#">
            <div class="c2">
                <div class = "conteudo">
                <div class="c2-nome">
                    <img src="{% static 'secundarios/img/perfil_1.png' %}" style="width:42px;height:42px;">
                    <h1>Camila Ribeiro</h1>
                </div>
                <div>
                    <p>Camila: Tenho uma trilha legal pra te indicar pra completar seu desafio.</p>
                </div>
                </div>
            </div>
        </a>
        <a href="#">
            <div class="c2">
                <div class = "conteudo">
                <div class="c2-nome">
                    <img src="{% static 'secundarios/img/perfil_2.png' %}" style="width:42px;height:42px;">
                    <h1>Lucas Andrade</h1>
                </div>
                <div>
                    <p>Você: Fechou! Vamos correr no mesmo horário amanhã?</p>
                </div>
                </div>
            </div>
        </a>
        <a href="#">
            <div class="c2">
                <div class = "conteudo">
                <div class="c2-nome">
                    <img src="{% static 'secundarios/img/perfil_3.png' %}" style="width:42px;height:42px;">
                    <h1>Rafael Costa</h1>
                </div>
                <div>
                    <p>Rafael: Você vai no evento de funcional no sábado?</p>
                </div>
                </div>
            </div>
        </a>
        

    </div>
</div>
</body>
</html>    
    
    
    
    
