{% load static %}
<!DOCTYPE html>
<html lang="ptbr>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'secundarios/css/chats.css' %}">
    <link rel="stylesheet" href="{% static 'secundarios/css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'secundarios/css/visual.css' %}">
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <!-- logo -->
  <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'ConectaEsporte/img/Logo_Proj.png' %}" alt="" style="width: 8em;height: 2.75em;"></a>

  <!-- botão menu para telefone -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- abas de navegação -->
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

    <div class="navbar-nav">
      <a class="nav-item nav-link" href="{% url 'home' %}">Página Principal</a>
      <a class="nav-item nav-link active" > Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" >Features</a>
      <a class="nav-item nav-link" >Pricing</a>
      <a class="nav-item nav-link disabled">Disabled</a>
      <!--  botão dropdown -->
      <div class="dropdown">
  
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>
    </div>

  <!-- perfil -->
    <div class = "icon_perfil">
      <a href="{% url 'secundarios:perfil' %}">
        <img src="{% static 'secundarios/img/icon_perfil.png' %}" style="width:3em;height:3em;">
        <t>Nome perfil</t>
      </a>
    </div>    
  </div>
</nav>


    <div class="header">
        <h3>Minhas Conversas</h3>
    </div>
<div class="corpo">
    <div class="conversas">
        <a href="#">
            <div class="c2">
                <div class = "conteudo">
                <div class="c2-nome">
                    <img src="{% static 'secundarios/img/icon_perfil.png' %}" style="width:42px;height:42px;">
                    <h1>Nome</h1>
                </div>
                <div>
                    <t>mensagem</t>
                </div>
                </div>
            </div>
        </a>
        <a href="#">
            <div class="c2">
                <div class = "conteudo">
                <div class="c2-nome">
                    <img src="{% static 'secundarios/img/icon_perfil.png' %}" style="width:42px;height:42px;">
                    <h1>Nome</h1>
                </div>
                <div>
                    <t>mensagem</t>
                </div>
                </div>
            </div>
        </a>
        <a href="#">
            <div class="c2">
                <div class = "conteudo">
                <div class="c2-nome">
                    <img src="{% static 'secundarios/img/icon_perfil.png' %}" style="width:42px;height:42px;">
                    <h1>Nome</h1>
                </div>
                <div>
                    <t>mensagem</t>
                </div>
                </div>
            </div>
        </a>
        

    </div>
</div>
</body>
</html>    
    
    
    
    
