{% load static %}
<!DOCTYPE html>
<html lang="ptbr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Conecta Esporte</title>
    
    <link rel="stylesheet" href="{% static 'ConectaEsporte/css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'secundarios/css/visual.css' %}">
    <link rel="stylesheet" href="{% static 'secundarios/css/post.css' %}">

</head>

<body>

<!-- navegação-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <!-- logo -->
  <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'ConectaEsporte/img/Logo_Proj.png' %}" alt="" style="width: 8em;height: 2.75em;"></a>

  <!-- botão menu para telefone -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- abas de navegação -->
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

    <div class="navbar-nav">
      <a class="nav-item nav-link" href="{% url 'home' %}">Página Principal</a>
      <a class="nav-item nav-link active" > Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" >Features</a>
      <a class="nav-item nav-link" >Pricing</a>
      <a class="nav-item nav-link disabled">Disabled</a>
      <!--  botão dropdown -->
      <div class="dropdown">
  
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>
    </div>

  <!-- perfil -->
    <div class = "icon_perfil">
      <a href="{% url 'secundarios:perfil' %}">
        <img src="{% static 'secundarios/img/icon_perfil.png' %}" style="width:3em;height:3em;">
        <t>Nome perfil</t>
      </a>
    </div>    
  </div>
</nav>

<div class="corpo">

  <!-- busca -->
<div class="main_busca">
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</div>

<!-- botões páginas -->
<div class= "botoes">

    <a href="{% url 'secundarios:feed' %}"><img src="{% static 'secundarios/img/bot_comunidade.jpg' %}" alt="Comunidades" style="width:25em;height:25em;"></a>

    <a href="{% url 'secundarios:mapa' %}"><img src="{% static 'secundarios/img/bot_mapa.jpg' %}" alt="Locais" style="width:25em;height:25em;"></a>

</div>



<div class="novidade">
<a class="t1" href="{% url 'secundarios:feed' %}">Novidades</a>
  <div class="sugestao">

<!-- -->
    <div >
      <a href="{% url 'secundarios:post' %}">
        <div class="c1">
          <!-- Header: ícone + nome OP -->
          <div class="c1-header">
            <img src="{% static 'secundarios/img/icon_perfil.png' %}">
            <h1 class="op">OP</h1>
          </div>

          <!-- Body: imagem + conteúdo -->
          <div class="c1-body">
            <!-- Imagem do post (lado esquerdo) -->
            <div class="c1-image">
              <img src="{% static 'secundarios/img/foto.png' %}" alt="Post">
            </div>

            <!-- Conteúdo (lado direito) -->
            <div class="c1-content">
              <h1>Titulo do Post</h1>
              <t>tag1</t>
              <t>tag2</t>
              <t>Descrição breve do post</t>
            </div>
          </div>
        </div>
      </a>
      
      <a href="{% url 'secundarios:post' %}">
        <div class="c1">
          <!-- Header: ícone + nome OP -->
          <div class="c1-header">
            <img src="{% static 'secundarios/img/icon_perfil.png' %}">
            <h1 class="op">OP</h1>
          </div>

          <!-- Body: imagem + conteúdo -->
          <div class="c1-body">
            <!-- Imagem do post (lado esquerdo) -->
            <div class="c1-image">
              <img src="{% static 'secundarios/img/foto.png' %}" alt="Post">
            </div>

            <!-- Conteúdo (lado direito) -->
            <div class="c1-content">
              <h1>Titulo do Post</h1>
              <t>tag1</t>
              <t>tag2</t>
              <t>Descrição breve do post</t>
            </div>
          </div>
        </div>

      </a>

             

    </div>
            
<!-- -->
    <div>
      <a href="{% url 'secundarios:post' %}">
        <div class="c1">
          <!-- Header: ícone + nome OP -->
          <div class="c1-header">
            <img src="{% static 'secundarios/img/icon_perfil.png' %}">
            <h1 class="op">OP</h1>
          </div>

          <!-- Body: imagem + conteúdo -->
          <div class="c1-body">
            <!-- Imagem do post (lado esquerdo) -->
            <div class="c1-image">
              <img src="{% static 'secundarios/img/foto.png' %}" alt="Post">
            </div>

            <!-- Conteúdo (lado direito) -->
            <div class="c1-content">
              <h1>Titulo do Post</h1>
              <t>tag1</t>
              <t>tag2</t>
              <t>Descrição breve do post</t>
            </div>
          </div>
        </div>
      </a>
      
      <a href="{% url 'secundarios:post' %}">
        <div class="c1">
          <!-- Header: ícone + nome OP -->
          <div class="c1-header">
            <img src="{% static 'secundarios/img/icon_perfil.png' %}">
            <h1 class="op">OP</h1>
          </div>

          <!-- Body: imagem + conteúdo -->
          <div class="c1-body">
            <!-- Imagem do post (lado esquerdo) -->
            <div class="c1-image">
              <img src="{% static 'secundarios/img/foto.png' %}" alt="Post">
            </div>

            <!-- Conteúdo (lado direito) -->
            <div class="c1-content">
              <h1>Titulo do Post</h1>
              <t>tag1</t>
              <t>tag2</t>
              <t>Descrição breve do post</t>
            </div>
          </div>
        </div>
      </a>


    </div>

<!-- -->
    <div>
        <a href="{% url 'secundarios:post' %}">
          <div class="c1">
          <!-- Header: ícone + nome OP -->
          <div class="c1-header">
            <img src="{% static 'secundarios/img/icon_perfil.png' %}">
            <h1 class="op">OP</h1>
          </div>

          <!-- Body: imagem + conteúdo -->
          <div class="c1-body">
            <!-- Imagem do post (lado esquerdo) -->
            <div class="c1-image">
              <img src="{% static 'secundarios/img/foto.png' %}" alt="Post">
            </div>

            <!-- Conteúdo (lado direito) -->
            <div class="c1-content">
              <h1>Titulo do Post</h1>
              <t>tag1</t>
              <t>tag2</t>
              <t>Descrição breve do post</t>
            </div>
          </div>
        </div>
        </a>
        
        <a href="{% url 'secundarios:post' %}">
          <div class="c1">
          <!-- Header: ícone + nome OP -->
          <div class="c1-header">
            <img src="{% static 'secundarios/img/icon_perfil.png' %}">
            <h1 class="op">OP</h1>
          </div>

          <!-- Body: imagem + conteúdo -->
          <div class="c1-body">
            <!-- Imagem do post (lado esquerdo) -->
            <div class="c1-image">
              <img src="{% static 'secundarios/img/foto.png' %}" alt="Post">
            </div>

            <!-- Conteúdo (lado direito) -->
            <div class="c1-content">
              <h1>Titulo do Post</h1>
              <t>tag1</t>
              <t>tag2</t>
              <t>Descrição breve do post</t>
            </div>
          </div>
        </div>
        </a>    
    </div>


  </div>
</div>

</div> 

<footer>
  redes sociais
  doações
  <a href="{% url 'secundarios:chats' %}">chats</a>
  <a href="{% url 'secundarios:perfil' %}">perfil</a>
  <a href="{% url 'secundarios:post' %}">post</a>
</footer>

</body>

</html>