{% load static %}
<!DOCTYPE html>
<html lang="ptbr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block title %}Conecta Esporte{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'ConectaEsporte/css/nav.css' %}">
    

    {% block extra_head %}{% endblock %}
</head>
<body>

<nav class="navbar">

  <!-- logo -->
  <a class="navbar-brand" href="{% url 'secundarios:home_conta' %}">
    <img src="{% static 'ConectaEsporte/img/Logo_Proj.png' %}" alt="" style="width: 8em;height: 2.75em;">
  </a>
  

  <!-- abas de navegação -->

    <div class="navbar-nav">
      <a class="nav-item nav-link" href="{% url 'secundarios:home_conta' %}">Página Principal</a>
      <a class="nav-item nav-link" href="{% url 'secundarios:feedLog' %}">Feed</a>
      <a class="nav-item nav-link" href="{% url 'secundarios:mapaLog' %}">Mapa</a>
      <a class="nav-item nav-link" href="{% url 'secundarios:chats' %}">Chats</a>
      
    </div>

  <!-- perfil -->
    <div class = "login">
      <a href="{% url 'secundarios:perfil' %}">
        <img src="{% static 'secundarios/img/icon_perfil.png' %}" style="width:3em;height:3em;">
        <span class="user-name"> {% if user.is_authenticated %}{{ user.get_full_name|default:user.username }}{% else %}Convidado{% endif %}</span>
      </a>
      
      <form method='POST' action="{% url 'logout' %}">{% csrf_token %}<button type='submit'>Logout</button></form>
    </div>
  
</nav>


<main>
{% block content %}{% endblock %}
</main>



{% block extra_js %}{% endblock %}
{% block extra_scripts %}{% endblock %}


</body>


</html>