{% load static %}
<!DOCTYPE html>
<html lang="ptbr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>

    <link rel="stylesheet" href="{% static 'secundarios/css/perfil.css' %}">
    <link rel="stylesheet" href="{% static 'secundarios/css/post.css' %}">
    

</head>
<body>
{% include 'secundarios/nav_log.html' %}
<div class="corpo">
<div class="espaço-perfil">
    <div class="main-perfil">
        <div class="user">    
            <img src="{% static 'secundarios/img/icon_perfil.png' %}" alt="Foto de Perfil" style="width:70px;height:70px;">
            <div class="detalhes-usuario">
            <p>Nome do Usuário</p>
            <p>Bio do usuário: Apaixonado por esportes e atividades ao ar livre.</p>
            </div>
        </div>
        <div class="info-adicional">
            <p><strong>Seguidores:</strong> </p>
            <p>123</p>
            <p><strong>Seguindo:</strong> </p>
            <p>321</p>
            <p><strong>Desafios no mês:</strong></p>
            <p>13</p>
        </div>
    </div>
</div>
<h1>Seu Perfil</h1>
<div class="posts-usuario">
    <!-- -->
    <div >
      <a href="{% url 'secundarios:post' %}">
        <div class="c1">
          <!-- Header: ícone + nome OP -->
          <div class="c1-header">
            <img src="{% static 'secundarios/img/icon_perfil.png' %}">
            <h1 class="op">OP</h1>
          </div>

          <!-- Body: imagem + conteúdo -->
          <div class="c1-body">
            <!-- Imagem do post (lado esquerdo) -->
            <div class="c1-image">
              <img src="{% static 'secundarios/img/foto.png' %}" alt="Post">
            </div>

            <!-- Conteúdo (lado direito) -->
            <div class="c1-content">
              <h1>Titulo do Post</h1>
              <t>tag1</t>
              <t>Descrição breve do post</t>
            </div>
          </div>
        </div>
      </a>
      
      <a href="{% url 'secundarios:post' %}">
        <div class="c1">
          <!-- Header: ícone + nome OP -->
          <div class="c1-header">
            <img src="{% static 'secundarios/img/icon_perfil.png' %}">
            <h1 class="op">OP</h1>
          </div>

          <!-- Body: imagem + conteúdo -->
          <div class="c1-body">
            <!-- Imagem do post (lado esquerdo) -->
            <div class="c1-image">
              <img src="{% static 'secundarios/img/foto.png' %}" alt="Post">
            </div>

            <!-- Conteúdo (lado direito) -->
            <div class="c1-content">
              <h1>Titulo do Post</h1>
              <t>tag1</t>
           
              <t>Descrição breve do post</t>
            </div>
          </div>
        </div>

      </a>

             

    </div>
            
<!-- -->
    <div>
      <a href="{% url 'secundarios:post' %}">
        <div class="c1">
          <!-- Header: ícone + nome OP -->
          <div class="c1-header">
            <img src="{% static 'secundarios/img/icon_perfil.png' %}">
            <h1 class="op">OP</h1>
          </div>

          <!-- Body: imagem + conteúdo -->
          <div class="c1-body">
            <!-- Imagem do post (lado esquerdo) -->
            <div class="c1-image">
              <img src="{% static 'secundarios/img/foto.png' %}" alt="Post">
            </div>

            <!-- Conteúdo (lado direito) -->
            <div class="c1-content">
              <h1>Titulo do Post</h1>
              <t>tag1</t>
              <t>tag2</t>
              <t>Descrição breve do post</t>
            </div>
          </div>
        </div>
      </a>
      
      <a href="{% url 'secundarios:post' %}">
        <div class="c1">
          <!-- Header: ícone + nome OP -->
          <div class="c1-header">
            <img src="{% static 'secundarios/img/icon_perfil.png' %}">
            <h1 class="op">OP</h1>
          </div>

          <!-- Body: imagem + conteúdo -->
          <div class="c1-body">
            <!-- Imagem do post (lado esquerdo) -->
            <div class="c1-image">
              <img src="{% static 'secundarios/img/foto.png' %}" alt="Post">
            </div>

            <!-- Conteúdo (lado direito) -->
            <div class="c1-content">
              <h1>Titulo do Post</h1>
              <t>tag1</t>
            
              <t>Descrição breve do post</t>
            </div>
          </div>
        </div>
      </a>


    </div>

<!-- -->
    <div>
        <a href="{% url 'secundarios:post' %}">
          <div class="c1">
          <!-- Header: ícone + nome OP -->
          <div class="c1-header">
            <img src="{% static 'secundarios/img/icon_perfil.png' %}">
            <h1 class="op">OP</h1>
          </div>

          <!-- Body: imagem + conteúdo -->
          <div class="c1-body">
            <!-- Imagem do post (lado esquerdo) -->
            <div class="c1-image">
              <img src="{% static 'secundarios/img/foto.png' %}" alt="Post">
            </div>

            <!-- Conteúdo (lado direito) -->
            <div class="c1-content">
              <h1>Titulo do Post</h1>
              <t>tag1</t>
          
              <t>Descrição breve do post</t>
            </div>
          </div>
        </div>
        </a>
        
        <a href="{% url 'secundarios:post' %}">
          <div class="c1">
          <!-- Header: ícone + nome OP -->
          <div class="c1-header">
            <img src="{% static 'secundarios/img/icon_perfil.png' %}">
            <h1 class="op">OP</h1>
          </div>

          <!-- Body: imagem + conteúdo -->
          <div class="c1-body">
            <!-- Imagem do post (lado esquerdo) -->
            <div class="c1-image">
              <img src="{% static 'secundarios/img/foto.png' %}" alt="Post">
            </div>

            <!-- Conteúdo (lado direito) -->
            <div class="c1-content">
              <h1>Titulo do Post</h1>
              <t>tag1</t>
              
              <t>Descrição breve do post</t>
            </div>
          </div>
        </div>
        </a>    
    </div>


</div>

</div>
</body>
</html>
