{% load static %}
<!DOCTYPE html>
<html lang="ptbr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Conecta Esporte</title>
    
    <link rel="stylesheet" href="{% static 'secundarios/css/visual.css' %}">
    <link rel="stylesheet" href="{% static 'secundarios/css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'secundarios/css/postagem.css' %}">

</head>

{% include 'secundarios/nav_log.html' %}



<body>
    <div class="postagem">
        <div>
            <div class="username">
                <img src="{% static 'secundarios/img/icon_perfil.png' %}" style="width:42px;height:42px;">
                <h1>OP</h1>
            </div>
            <div class="inform">
              <div>
                  <img src="{% static 'secundarios/img/foto.png' %}" style="width:500px;height:250px;">
              </div>

              <div>
                  <div>
                      <h1>Titulo</h1>
                      <t>tag</t>
                  </div>
                  <div>
                      <t>texto</t>
                  </div>             
              </div>
           

            </div>
        </div>
    </div>

    <div class="interacao">
    <h1>Comentários</h1>
        <div class="comentario">
          <ul>
            <li>
                <div class="msg">
                  <div>
                    <img src="{% static 'secundarios/img/icon_perfil.png' %}" style="width:42px;height:42px;">
                    <h1>Usuário</h1>
                  </div>                    
                </div>
                <div>
                    <t>texto</t>
                </div>
            </li>
            
            <li>
                <div class="msg">
                  <div>
                    <img src="{% static 'secundarios/img/icon_perfil.png' %}" style="width:42px;height:42px;">
                    <h1>Usuário</h1>
                  </div>                    
                </div>
                <div>
                    <t>texto</t>
                </div>
            </li>
                        <li>
                <div class="msg">
                  <div>
                    <img src="{% static 'secundarios/img/icon_perfil.png' %}" style="width:42px;height:42px;">
                    <h1>Usuário</h1>
                  </div>                    
                </div>
                <div>
                    <t>texto</t>
                </div>
            </li>

          </ul>
        </div>

        
        
      <div class="responder">
        <img src="{% static 'secundarios/img/icon_perfil.png' %}" style="width:42px;height:42px;">
          <form class="form-inline">
              <input class="form-control mr-sm-2" type="search" placeholder="Escreva um comentário">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Enviar</button>
          </form>
      </div>

    </div>



</body>

<footer>
  redes sociais
  doações
</footer>
</html>