.corpo{
  margin: 0 auto; 
  width: 75em;

}



.espaço-perfil{
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 auto; 
  width: 75em;
  height: 24em;

  background-color: orange;

}

.main-perfil{
  display: flex;
    flex-direction: row;

  border-radius: 20px;
  
  width: 95%;
  height: 85%;

  background-color: white;

}

.user
{
    display: flex;
    flex-direction:row;
    width: 40%;
    height: fit-content;
    margin: 3% 0 0 3%;
    
}

.detalhes-usuario{
    display: flex;
    flex-direction: column;
    margin: 0 0 0 3%;
    
}

.info-adicional{
    display: flex;
    flex-direction: row;
    margin: 3% 3%;

    
}



.botoes{
  display: flex;  
  justify-content: space-evenly;

  margin: 5em auto;
}

.texto{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color:ghostwhite;
  margin: 0 auto; 
  width: 75em;
  height: 24em;
    
}

h2{
  font-family: "Georgia", serif; /* Sets the font family */
  font-size: 3em; /* Sets the font size (e.g., 3 times the base font size) */
  /*font-weight: bold; /* Sets the font weight */
  /*font-style: italic;  Sets the font style (e.g., italic, normal, oblique) */
  color: #c03535; /* Sets the text color using a hexadecimal code */
}

/*
img{
  border-radius: 3em;
}
*/

.novidade{ /*texto + container empilhado*/
  display:flex;
  flex-direction: column;

  background-color: ghostwhite;
  
  
}
.posts-usuario{ /*container das sugestões de postagem*/
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content:space-evenly;
}

.t1{/* texto "Novidades */
  margin:1em 0em 0em 1em;
  font-size: 2em;
}

.feed{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
