/* ===== Navbar base ===== */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.75rem 1rem;
  background-color: #f8f9fa; 
  width: 100%;
}



/* ===== Navegação ===== */
.navbar-nav {
  display: flex;
  flex-direction: row;
}

.navbar-nav .nav-link {
  padding: 0.5rem 1rem;
  color: rgba(0, 0, 0, 0.55);
  text-decoration: none;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  color: rgba(0, 0, 0, 0.7);
}


.login
{
  margin-left: auto;
  margin-right: 5%;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

